
/* 
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

 body{
  height: 100vh;
  width: 100vw;
}

header{
  height: 10vh;
  width: 100%;
  background-color:rgb(88, 87, 87); 
  }

  main{
    height: 80vh;
    width: 100%;
  }

  footer{
  height: 10vh;
  width: 100%;
  background-color: rgb(88, 87, 87);
 

  }


.textosNegritas {
 font-weight: bold;
}

.italic {
  font-style: italic;
}

.centrar{
  text-align: center; 
 }






/* pagina fotos */

.tituloFotos{
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
font-size: 1.5rem;
color:rgba(255, 255, 255, 0.749);
font-weight: bold;
background-color: rgba(0, 0, 0, 0.26);
text-align: center;
}


#galeria{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
  grid-template-areas: 
  "iga ons pegula"
  "garcia sabalenka maria"
  " gauff kasatkina kudermetova"
  " halep alcaraz nadal"
  "ruud tsitsi nole"
  "felix medi rublev"
  "fritz hurka .";
  grid-column-gap: 10px;
  grid-row-gap: 10px;
 
}

#images-iga{
  height: 300px;
  width: 400px;
  background-image: url("../Assets/wta/iGA.jfif");
  background-position: center;
  background-size: cover;
  grid-area: iga ;
}

#images-ons{
  height: 300px;
  width: 400px;
  background-image: url("../Assets/wta/ons.jpg");
  background-position: center;
  background-size: cover;
  grid-area:ons ;
}

#images-pegula{
  height: 300px;
  width: 400px;
  background-image: url("../Assets/wta/pegula.jpg");
  background-position: center;
  background-size: cover;
  grid-area:pegula ;
}
#images-garcia{
  height: 300px;
  width: 400px;
  background-image: url("../Assets/wta/garcia.jpg");
  background-position: center;
  background-size: cover;
  grid-area: garcia;
}
#images-sabalenka{
   height: 300px; 
   width: 400px; 
  background-image: url("../Assets/wta/saba1.jpg");
  background-position: center;
  background-size: cover;
  grid-area:sabalenka ;
}
#images-sakkari{
   height: 300px;
  width: 400px; 
  background-image: url("../Assets/wta/sakkari.jfif");
  background-position: center;
  background-size: cover;
  grid-area: maria;
}

#images-gauff{
   height: 300px;
  width: 400px; 
  background-image: url("../Assets/wta/gauff.jpg");
  background-position: center;
  background-size: cover;
  grid-area: gauff;
}
#images-kasatkina{
 height: 300px;
  width: 400px; 
  background-image: url("../Assets/wta/kasatkina.jpg");
  background-position: center;
  background-size: cover;
  grid-area: kasatkina;
}
#images-kudermetova{
   height: 300px;
  width: 400px; 
  background-image: url("../Assets/wta/kudermetova.jpg");
  background-position: center;
  background-size: cover;
  grid-area:kudermetova ;
}
#images-halep{
  height: 300px;
  width: 400px; 
  background-image: url("../Assets/wta/halep.jpg");
  background-position: center;
  background-size: cover;
  grid-area: halep;
}
#images-alcaraz{
   height: 300px;
  width: 400px; 
  background-image: url("../Assets/ATP/alcaraz\ 1.jpg");
  background-position: center;
  background-size: cover;
  grid-area: alcaraz;
}
#images-nadal{
 height: 300px;
  width: 400px; 
  background-image: url("../Assets/ATP/rafa1.jpg");
  background-position: center;
  background-size: cover;
  grid-area:nadal ;
}
#images-ruud{
   height: 300px;
  width: 400px; 
  background-image: url("../Assets/ATP/Casper-Ruud.jpg");
  background-position: center;
  background-size: cover;
  grid-area: ruud;
}
#images-tsitsipas{
   height: 300px;
  width: 400px; 
  background-image: url("../Assets/ATP/tsitsipas.webp");
  background-position: center;
  background-size: cover;
  grid-area: tsitsi;
}
#images-djokovic{
   height: 300px;
  width: 400px; 
  background-image: url("../Assets/ATP/nole1.jpg");
  background-position: center;
  background-size: cover;
  grid-area:nole ;
}
#images-aliassime{
   height: 300px;
  width: 400px; 
  background-image: url("../Assets/ATP/alliassime.jpeg");
  background-position: center;
  background-size: cover;
  grid-area: felix;
}
#images-medvedev{
   height: 300px;
  width: 400px; 
  background-image: url("../Assets/ATP/daniil\ medvedev.jpg");
  background-position: center;
  background-size: cover;
  grid-area:medi ;
}
#images-rublev{
   height: 300px;
  width: 400px; 
  background-image: url("../Assets/ATP/ruvlev.jpg");
  background-position: center;
  background-size: cover;
  grid-area: rublev;

}
#images-fritz{
   height: 300px;
  width: 400px; 
  background-image: url("../Assets/ATP/Taylor-Fritz.jpg");
  background-position: center;
  background-size: cover;
  grid-area:fritz ;
}
#images-hurkacz{
   height: 300px;
  width: 400px; 
  background-image: url("../Assets/ATP/Hurkacz.jpg");
  background-position: center;
  background-size: cover;
  grid-area: hurka;
}



/* #grillaNoticias{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr ;
  grid-template-rows:0.5fr 0.5fr 0.5fr ;
  grid-template-areas:
  "not-doce not-once not-diez "
  "not-nueve not-ocho not-siete "
  "not-seis not-cinco not-cuatro "
  " not-tres not-dos not-uno"
    ;
  grid-column-gap: 30px;
  grid-row-gap: 30px;

} */

/* 
#not-uno{
grid-area: not-uno ;
}

#not-dos{
  grid-area: not-dos ;
}
#not-tres{
  grid-area:not-tres ;
}
#not-cuatro{
  grid-area:not-cuatro ;
}
#not-cinco{
  grid-area:not-cinco ;
}
#not-seis{
  grid-area:not-seis ;
}
#not-siete{
  grid-area:not-siete ;
}
#not-ocho{
  grid-area:not-ocho ;
}
#not-nueve{
  grid-area:not-nueve ;
}
#not-diez{
  grid-area:not-diez ;
}
#not-once{
  grid-area:not-once ;
}
#not-doce{
  grid-area: not-doce ;
} */




 #proximosTorneos{
  background-color: rgb(255, 255, 255);
  height: 50vh;
 }


<!--empiezo con bootstrap-->

 #carousel{
  height:40vh ;
 }



.align-items-center {
  align-items:flex-end!important;
}



.col-lg-6 {
  flex: 0 0 auto;
  width: 40%;
  
}





.row {
  --bs-gutter-x:0;
  --bs-gutter-y:0;
  display: flex;
  flex-direction: row;
 justify-content: space-between;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-.5 * var(--bs-gutter-x));
  margin-left: calc(-.5 * var(--bs-gutter-x));
}

.mb-4 {
  margin-bottom: 1.5rem!important;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}


hr {
  margin: 1rem 0;
  color: inherit;
  border: 0;
  opacity: .25;
}





.align-items-center {
  align-items: flex-end!important;
}
.mt-3 {
  margin-top: 1rem!important;
}
.align-items-center {
  align-items: center!important;
}
.justify-content-center {
  justify-content: center!important;
}
.flex-row {
  flex-direction: column!important;
}
.h-100 {
  height: 100%!important;
}
.d-flex {
  display: flex!important;
}
*, ::after, ::before {
  box-sizing: border-box;
}



.navbar-brand {
  padding-top: var(--bs-navbar-brand-padding-y);
  padding-bottom: var(--bs-navbar-brand-padding-y);
  margin-right: var(--bs-navbar-brand-margin-end);
  font-size: 2rem;
  color: rgb(194, 194, 194);
  text-decoration: none;
  white-space: nowrap;
}



.socialBar{
  /* position: fixed; */
  right: 0;
  top:40%;
  font-size: 1.5rem;
  display: flex!important;
  flex-direction: column!important;
  align-items: flex-end;
  z-index: 100;
  
}


.icon:hover{
  padding-right: 3rem;
  
}

 .container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
     --bs-gutter-x: 1.5rem;
     --bs-gutter-y: 0;
     width: 100%;
     padding-right: calc(var(--bs-gutter-x) * .5);
     padding-left: calc(var(--bs-gutter-x) * .5);
     margin-right: auto;
     margin-left: auto;
 }
 

.py-3 {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}
.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}
.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background: rgb(88, 87, 87);
}


.nav-link {
  display: block;
  padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
  font-size: 1rem;
  font-weight: var(--bs-nav-link-font-weight);
  color:  rgb(194, 194, 194);
  text-decoration: none;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}

.overflow{
  overflow-x: hidden!important;
}

.btn.disabled, .btn:disabled, fieldset:disabled .btn {
  color: var(--bs-btn-disabled-color);
  pointer-events: none;
  background-color: rgb(88, 87, 87);
  border-color: var(--bs-btn-disabled-border-color);
  opacity: var(--bs-btn-disabled-opacity);
}


.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: rgb(88, 87, 87);
  --bs-btn-border-color:  rgb(88, 87, 87);
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg:  rgb(88, 87, 87);
  --bs-btn-hover-border-color:  rgb(88, 87, 87);
  --bs-btn-focus-shadow-rgb: 49,132,253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: rgb(88, 87, 87);
  --bs-btn-active-border-color:  rgb(88, 87, 87);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg:  rgb(88, 87, 87);
  --bs-btn-disabled-border-color:  rgb(88, 87, 87);
}

.active>.page-link, .page-link.active {
  z-index: 3;
  color: var(--bs-pagination-active-color);
  background-color:  rgb(88, 87, 87);
  border-color:  rgb(88, 87, 87);
}

.page-link {
  position: relative;
  display: block;
  padding: var(--bs-pagination-padding-y) var(--bs-pagination-padding-x);
  font-size: var(--bs-pagination-font-size);
  color:  rgb(88, 87, 87);
  text-decoration: none;
  background-color: var(--bs-pagination-bg);
  border: var(--bs-pagination-border-width) solid var(--bs-pagination-border-color);
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

@media screen and (min-width: 320px) {   
  
  #video-cuatro{
  width:300px;
  height:250px;
}

#video-tres{
  width:300px;
  height:250px;
}

#video-dos{
  width:300px;
  height:250px;
}

#video-uno{
  width:300px;
  height:250px;
}

.container{
  height: auto;
  
  }
  .col-lg-6{
    
    width: 100%;

  }

 
}



@media screen and (min-width: 768px) { 
  #video-cuatro{
    width:730px;
    height:400px;
   
  }

  #video-tres{
    width:730px;
    height:400px;
   
  }
 

  #video-dos{
    width:730px;
    height:400px;
  }

  #video-uno{
    width:730px;
    height:400px;
  }

  .container{
  height: auto;
  
  }

  .col-lg-6{
    
    width: 100%;

  }

  .col-lg-6{
    width: 50%;
  }
  .overflow{
    overflow-x: hidden!important;
  }

}
@media (max-width: 768px) { 


    .flex-row {
      flex-direction: row!important;
  }
  .justify-content-center {
      justify-content: flex-center!important;
  }
  .align-items-center {
      align-items: center!important;
  }
    
  .overflow{
    overflow-x: hidden!important;
  }

  }
  

  @media (min-width: 992px) { 
  .socialBar {
    position: fixed;
    right: 0;
    top: 40%;
    font-size: 1.5rem;
    display: flex!important;
    flex-direction: column!important;
    align-items: flex-end;
    z-index: 100;
}

.overflow{
  overflow-x: hidden!important;
}
  }